{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
<div class="login-form popup">

    <form action="" method="post">
        {% csrf_token %}
        <h3>login</h3>
        <input type="text" placeholder="username" class="box" name="username">
        <input type="password" placeholder="password" class="box" name="password">
        <p>forget password? <a href="#">click here</a></p>
        <p>Create an account <a href="{% url 'parent' %}" target="_blank">Register now</a></p>
        <!-- <p>Register your Child <a href="{% url 'register' %}" target="_blank">Apply for Admission</a></p> -->
        <!-- <p>Login as a Student <a href="{% url 'account' %}">Login</a></p> -->
        <p>Login as a Teacher <a href="">Login</a></p>
        <input type="submit" class="btn" value="login">
        <!-- <i class="fas fa-times"></i> --> 
        <div>
            {% for message in messages %}
            <p style="font-size: 15px;">{{message}}</p>
            {% endfor %}
        </div>

    </form>

    

</div>

</body>
</html>